@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.btn {
    display: inline-block;

    padding: .5em 1em;
    border-radius: 1em;

    background: #fff;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0px 0px 20px -10px #000;
    transition: transform 150ms ease, box-shadow 150ms ease;
}

.wrapper {
    display: flex;
}

.wrapper aside {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-grid { margin: 2rem 0 0 0; }

.btn-list { margin: 2rem 0; }

.btn:hover {
    transform: scale(.99);
    box-shadow: 0px 0px 10px -5px #000;
}

.products {
    width: calc(100% - 150px);

    box-shadow: inset 20px 0px 40px -40px #000;
}

.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    width: calc(33.3% - 3rem);
    margin: 1.5rem;
    box-shadow: 0 0 72px -40px #000;
}

.card img { width: 100%; }

figcaption { padding: 1rem; }

.name { text-transform: capitalize; }

.calories::after { content: ' kcal' }

.price::after { content: '\0024'; }

.item {
    display: flex;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 72px -35px #000;
}

.item img {
    width: 6rem;
    height: 6rem;
}

.item figcaption {
    display: flex;
}

.item .name,
.item .calories,
.item .price {
    margin: 0 1rem;

    display: flex;
    align-items: center;
}

@media only all and (max-width: 1150px) {
    .card {
        width: calc(50% - 3rem);
    }
}